.header-color {
background: #424242;
} 

.error {
  text-align: center;
}

.spinner {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-grid {
  display: flex;
}

.about-body {
  width: 100%;
  background: red;
  height: 100%;
}

.about-grid {
  justify-content: center;
  align-items: center;
}
