.header-color {
  background: #424242;
} 

.error {
  text-align: center;
}

.spinner {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-grid {
  display: flex;
}

.about-body {
  margin: auto;
  position: relative; /*in case of error this is wrong */
  width: 100%;
  height: 100%;
  justify-content: center;
}

.about-grid {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.about-grid h2 {
  font-family: 'Oxygen', sans-serif;
}

.about-grid p {
  font-family: 'Anton', sans-serif;
}

/* SKILLS PAGE */

.skills-body {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.skills-grid {
  text-align: center;
  justify-content: center;
  align-items: center;
}