.header-color {
 background-image: linear-gradient(to right top, #973b3b, #934746, #8d5251, #875c5c, #7f6666);
} 

.error {
  text-align: center;
}

.spinner {
  justify-content: center;
  align-items: center;
  text-align: center;
}